#particles-js{
    background:url("../image/sea.jpg");
    height: 100%;
}
#particles-js-text{
    z-index: 2;
    font-weight: 600;
    font-size: 5vw;
    color: aqua;
    font-family:'STXingkai';
}
 #list{
     position: fixed;
     top: 0;
    width: 100%;
    height: 4.5vw;
    background: rgba(255, 255, 255, 0.6)
}
#list li {
    float:left ;
    margin: 2.5vw;
    margin-top: 2vw;
}
#list ul{
    float: right;
}
#particles-js #index-introduce{
    position: absolute;
    top:20% ;
    left: 25%;
    display: inline;
    text-align: center;
}
#particles-js #index-introduce p{
    font-size: 2.5vw;
    font-family: "Fira Code";
    color: white;
    margin-bottom: .1rem;
}
#particles-js #index-introduce  span{
    color: #818280;
}
#Big-contain #IntroduceMyself{
    width: 100%;
   background: url("../image/snow.jpg");
    background-repeat: repeat;
    padding-bottom: 1vw;
}

#tab #myText #myText-box{
    display: flex;
    flex-direction: row;
}
#tab #myText #myText-box-text{
    flex: 1;
}
#tab #myText #turn-img {
    flex: 1;
    position: relative;
    clear: both;
}
#tab #myText #turn-img div{
    height: 38vw;
    margin-left: 10vw;
}
#tab #myText #turn-img img{
        width: 30vw;
    height: 36vw;
    border-radius: 10px;
    position: absolute;
}
#tab #myText #turn-img #dot{
    clear: both;
    position: absolute;
    bottom: 1vw;
    left: 11.7vw;
}
#tab #myText #turn-img #dot li{

    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50% 50%;
    float: left;
    background-color: #63a35c;
    margin: 2.5vw;
}
#tab #myText #turn-img #dot .change-dot-color{
    background-color: #92877a;

}
#IntroduceMyself #modelTitle li{
    float: left;
    width: 15%;
    text-align: center;
    margin: 2.4%;
    padding: 10px 2.5%;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arial"
}
#IntroduceMyself #modelTitle .selected{
    border: 1px solid silver;
}
#IntroduceMyself #tab{
    clear: both;
    position: relative;
}
#IntroduceMyself #tab #myText p{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
}
#IntroduceMyself #tab #myText #myText-Personal {
    width: 80%;
    margin: 0 auto;
    font-size:20px ;
}
#circle li{
    flex-grow: 1;
    float: left;
    text-align: center;
    position: relative;
}
 #circle div{
     position: absolute;
     top: 6vw;
     left: 13vw;
     text-align: center;
     font-size: 2.8vw;
     font-weight: 400;
     color: rgb(52, 73, 94);
}
#index-3 .warpper #techology #circle p{
    width: 300px;
    text-align: center;

}
canvas{
    margin:0vw;
}
#knowText #Progress-bar .progress-contain{
    border-radius: 10px;
    width: 50%;
    border: 1px solid #ccc;
    margin: 0 auto;
    background-color: #ccc;
}
#knowText #Progress-bar .progress-contain #php {
    width: 0%;
    border:3.5px solid skyblue;
    overflow: visible !important;
}
#IntroduceMyself #tab #knowText #circle{
    overflow: hidden;
    clear: both;
    display: flex;
}

#knowText #Progress-bar .progress-contain #vue{
width: 0%;
    border:3.5px solid #8dcb27;
    overflow: visible !important;

}
#knowText #Progress-bar .progress-contain #react{
    width: 0;
    border:3.5px solid #eb7a5d;
    overflow: visible !important;

}
#knowText #Progress-bar .Ball{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 25%;
}
#Progress-bar .Progress-bar-text{
    position: absolute;
    left: 17%;
    top: 36%;
    font-size: 30px;
    padding-top: 30px;
}
#tab #projectText #projectText-contain{

    width: 86%;
    margin: 0 auto;

}
#tab #projectText #projectText-contain img{
  width: 28vw;
    height: 25vw;
    margin: 0;
}
#tab #projectText #projectText-contain a{
    margin: 0!important;
    position: relative;
    height: 287.99px;
    display: inline-block;
    overflow: hidden;
}
#tab #projectText #projectText-contain .background{
    position: absolute;
    width: 100%;
    height: 100% ;
    background:rgba(250,250,250,.5);
    top:0;
    perspective-origin: center;
    transform-style: preserve-3d;
    display: none;
}
#tab #projectText #projectText-contain .background.add-tranform{
    animation:animate1  1s linear ;
}
@keyframes animate1 {
    from{
        transform: rotateY(90deg) ;
    }
    to{
        transform:rotateY(180deg)!important;
    }
}
@keyframes animate2 {
    from{
        transform: rotateY(180deg) ;
    }
    to{
        transform:rotateY(-90deg)!important;
    }
}
#tab #projectText #projectText-contain .background.add-tranform{
    animation:animate2  1s linear ;
}
#tab .tab-Unselected{
    display: none;
}
#tab .tab-Unselected.Hasselected{
    display: block;
}
#Last{
    width: 100%;
    /*height: 100vh;*/
    background:url("../image/Last.gif") ;
    overflow: hidden;
    margin-top: 2.2vw;

}
#Last #contact{
    text-align: center;
    margin-top: 1.5vw;
}
#Last #contact span{
    display: inline-block;
    font-size:1.4em ;
    padding: 1vw;
    background: #9abf0d;
    color: white;
}
#Last #contact-Me{
    display: flex;
    flex-direction: row;
}
#Last #contact-Me #my-contact{

    flex: 1;
    background: white;
    text-align: center;
    background: white;
    overflow: hidden;
    margin-left: 9.5vw;
    margin-right:9.5vw;
}
#Last #contact-Me #my-contact li {
    margin-bottom: 2vw;
    border-bottom: 1px solid #9abf0d;
    margin-top: 1vw;
    padding-bottom: 2vw;
}
#Last #contact-Me #my-contact li i{
    font-size: 3em;
    color:#9abf0d ;
    display: inline-block;
    margin-bottom: 1vw;
}
#Last #contact-Me #my-contact p{
    font-size: 1.3em;
    margin-bottom: 1.5vw;
}

#Last #contact-Me #message{
    margin-right: 4vw;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#Last #contact-Me #my-contact li span{
    font-size: 1.2em;
}
#Last #contact-Me #message input{
    margin: 1.5vw;
    height: 4vw;
    border: 2px solid #9abf0d;

}
#Last #contact-Me #message input::-webkit-input-placeholder{
  text-align: left;
    padding-left: 10px;
}
#Last #contact-Me #message #message-text{
    height: 10vw;
}
#tab #allText #line{
    width: .4vw;
    height: 42vw;
    background: #92877a;
    position: absolute;
    left: 50%;
    top: 8%;
}
#tab #allText #logo-image{
    position: relative;
    height: 100vh;
}
#tab #allText #logo-image .prefont{
    position: absolute;
    left: 45%;
    width: 10%;
    height: 8%;
    background-color: #92877a;
    line-height: 200%;
    text-align: center;
}
#tab #allText #logo-image #line-html{
    position: absolute;
    width: 37vw;
    height: .45vw;
    background: #92877a;
    top: 18%;
    left: 12.4%;
}
#tab #allText #logo-image #html-css {
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 8%;
    left: 2.4vw;
    text-align: center;
    line-height: 11vw;
}
#tab #allText #logo-image #jquery{
    position: absolute;
    width: 35vw;
    height: .45vw;
    background: #92877a;
    top: 23%;
    right: 14vw;
}
#tab #allText #logo-image #jquery-text{
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 12%;
    right: 4vw;
    text-align: center;
    line-height: 11vw;
}
#tab #allText #logo-image #all-JS{
    position: absolute;
    width: 30vw;
    height: .45vw;
    background: #92877a;
    top: 35%;
    left: 19.5%;
}
#tab #allText #logo-image #all-JS-text{
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 25%;
    left: 10vw;
    text-align: center;
    line-height: 11vw;
}
#tab #allText #logo-image #line-DOM{
    position: absolute;
    width: 29vw;
    height: .45vw;
    background: #92877a;
    top: 45%;
    right: 20.5%;
}
#tab #allText #logo-image #all-Dom{
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 35%;
    right: 10vw;
    text-align: center;
    line-height: 11vw;
}
#tab #allText #logo-image #all-vue{
    position: absolute;
    width: 24.2vw;
    height: .45vw;
    background: #92877a;
    top: 62%;
    left: 25.5%;
}
#tab #allText #logo-image #all-vue-text{
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 53%;
    left: 15vw;
    text-align: center;
    line-height: 11vw;
}
#tab #allText #logo-image #line-vue-router{
    position: absolute;
    width: 12.2vw;
    height: .45vw;
    background: #92877a;
    top: 75%;
    left: 23.5%;
    transform: rotatez(45deg);
}
#tab #allText #logo-image #all-vue-router{
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 80%;
    left: 31vw;
    text-align: center;
    line-height: 7vw;
}
#tab #allText #logo-image #line-vuex{
    position: absolute;
    width: 12.2vw;
    height: .45vw;
    background: #92877a;
    top: 75%;
    left:7%;
    transform: rotatez(-45deg);
}
#tab #allText #logo-image #all-vuex{
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 80%;
    left: 4vw;
    text-align: center;
    line-height: 7vw;
}
#tab #allText #logo-image #all-vue-cli{
    position: absolute;
    width: .45vw;
    height: 7.5vw;
    background: #92877a;
    top: 70%;
    left: 20.5%;
}
#tab #allText #logo-image #all-vue-cli-text{
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 80%;
    left: 17vw;
    text-align: center;
    line-height: 7vw;
}
#tab #allText #all-react-text{
    position: absolute;
    width: 11vw;
    height: 11vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 60%;
    right: 18vw;
    text-align: center;
    line-height: 11vw;
}
#tab #allText #line-react{
    position: absolute;
    width: 20.5vw;
    height: .45vw;
    background: #92877a;
    top: 70%;
    right: 29.2%;
}
#tab #allText #logo-image #line-react-redux{
    position: absolute;
    width: 7.2vw;
    height: .45vw;
    background: #92877a;
    top: 79%;
    right: 27%;
    transform: rotatez(-45deg);
}
#tab #allText #logo-image #all-react-redux-text{
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 80%;
    right: 31vw;
    text-align: center;
    line-height: 7vw;
}
#tab #allText #logo-image #line-react-router{
    position: absolute;
    width: 7.2vw;
    height: .45vw;
    background: #92877a;
    top: 80%;
    right: 14%;
    transform: rotatez(45deg);

}
#tab #allText #logo-image #all-react-router-text{
    position: absolute;
    width: 7vw;
    height: 7vw;
    border-radius: 50% 50%;
    background: #92877a;
    top: 80%;
    right: 10vw;
    text-align: center;
    line-height: 7vw;
}