#particles-js{
    background:url("../image/sea.jpg");
    height: 100%;
}
#particles-js-text{
    z-index: 2;
    font-weight: 600;
    font-size: 5vw;
    color: aqua;
    font-family:'STXingkai';
}
 #list{
    width: 100%;
    height: 4.5vw;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
}
#list li {
    float:left ;
    margin: 2.5vw;
    margin-top: 2vw;
}
#list ul{
    float: right;
}
#particles-js #index-introduce{
    position: absolute;
    top:20% ;
    left: 25%;
    display: inline;
    text-align: center;
}
#particles-js #index-introduce p{
    font-size: 2.5vw;
    font-family: "Fira Code";
    color: white;
    margin-bottom: .1rem;
}
#particles-js #index-introduce  span{
    color: #818280;
}
#Big-contain #IntroduceMyself{
    width: 100%;
   background: url("../image/snow.jpg");
    background-repeat: repeat;
    padding-bottom: 1vw;
}

#IntroduceMyself #modelTitle li{
    float: left;
    width: 15%;
    text-align: center;
    margin: 2.4%;
    padding: 10px 2.5%;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-family: "Arial"
}
#IntroduceMyself #modelTitle .selected{
    border: 1px solid silver;
}
#IntroduceMyself #tab{
    clear: both;
    position: relative;
}
#IntroduceMyself #tab #myText p{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
}
#IntroduceMyself #tab #myText #myText-Personal {
    width: 80%;
    margin: 0 auto;
    font-size:20px ;
}
#circle li{
    flex-grow: 1;
    float: left;
    text-align: center;
    position: relative;
}
 #circle div{
     position: absolute;
     top: 6vw;
     left: 13vw;
     text-align: center;
     font-size: 2.8vw;
     font-weight: 400;
     color: rgb(52, 73, 94);
}
#index-3 .warpper #techology #circle p{
    width: 300px;
    text-align: center;

}
canvas{
    margin:0vw;
}
#knowText #Progress-bar .progress-contain{
    border-radius: 10px;
    width: 50%;
    border: 1px solid #ccc;
    margin: 0 auto;
    background-color: #ccc;
}
#knowText #Progress-bar .progress-contain #php {
    width: 0%;
    border:3.5px solid skyblue;
    overflow: visible !important;
}
#IntroduceMyself #tab #knowText #circle{
    overflow: hidden;
    clear: both;
    display: flex;
}

#knowText #Progress-bar .progress-contain #vue{
width: 0%;
    border:3.5px solid #8dcb27;
    overflow: visible !important;

}
#knowText #Progress-bar .progress-contain #react{
    width: 0;
    border:3.5px solid #eb7a5d;
    overflow: visible !important;

}
#knowText #Progress-bar .Ball{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 25%;
}
#Progress-bar .Progress-bar-text{
    position: absolute;
    left: 17%;
    top: 36%;
    font-size: 30px;
    padding-top: 30px;
}
#tab #projectText #projectText-contain{

    width: 86%;
    margin: 0 auto;

}
#tab #projectText #projectText-contain img{
  width: 28vw;
    height: 25vw;
    margin: 0;
}
#tab #projectText #projectText-contain a{
    margin: 0!important;
    position: relative;
    height: 287.99px;
    display: inline-block;
    overflow: hidden;
}
#tab #projectText #projectText-contain .background{
    position: absolute;
    width: 100%;
    height: 100% ;
    background:rgba(250,250,250,.5);
    top:0;
    perspective-origin: center;
    transform-style: preserve-3d;
    display: none;
}
#tab #projectText #projectText-contain .background.add-tranform{
    animation:animate1  1s linear ;
}
@keyframes animate1 {
    from{
        transform: rotateY(90deg) ;
    }
    to{
        transform:rotateY(180deg)!important;
    }
}
@keyframes animate2 {
    from{
        transform: rotateY(180deg) ;
    }
    to{
        transform:rotateY(-90deg)!important;
    }
}
#tab #projectText #projectText-contain .background.add-tranform{
    animation:animate2  1s linear ;
}
#tab .tab-Unselected{
    display: none;
}
#tab .tab-Unselected.Hasselected{
    display: block;
}
#Last{
    width: 100%;
    height: 100vh;
    background:url("../image/Last.gif") ;
    overflow: hidden;

}
#Last #contact{
    text-align: center;
    margin-top: 1.5vw;
}
#Last #contact span{
    display: inline-block;
    font-size:1.4em ;
    padding: 1vw;
    background: #9abf0d;
    color: white;
}
#Last #contact-Me{
    display: flex;
    flex-direction: row;
}
#Last #contact-Me #my-contact{

    flex: 1;
    background: white;
    text-align: center;
    background: white;
    overflow: hidden;
    margin-left: 9.5vw;
    margin-right:9.5vw;
}
#Last #contact-Me #my-contact li {
    margin-bottom: 2vw;
    border-bottom: 1px solid #9abf0d;
    margin-top: 1vw;
    padding-bottom: 2vw;
}
#Last #contact-Me #my-contact li i{
    font-size: 3em;
    color:#9abf0d ;
    display: inline-block;
    margin-bottom: 1vw;
}
#Last #contact-Me #my-contact p{
    font-size: 1.3em;
    margin-bottom: 1.5vw;
}

#Last #contact-Me #message{
    margin-right: 4vw;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#Last #contact-Me #my-contact li span{
    font-size: 1.2em;
}
#Last #contact-Me #message input{
    margin: 1.5vw;
    height: 4vw;
    border: 2px solid #9abf0d;
    text-align: top;
}
#Last #contact-Me #message input::-webkit-input-placeholder{
  text-align: left;
    padding-left: 10px;
}
#Last #contact-Me #message #message-text{
    height: 10vw;
}

